@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  --line-color:rgb(0,0,0,.05);
  background: radial-gradient(#232629 10%,#000000 100%); 
}

.borderBlack{
  @apply border border-black/10;
}

body{
   background-image: url("/Noise.png");
}

.nav-container{
  background: linear-gradient(180deg, #595f66af 0%,  #22252c83 100%);
  @apply fixed top-0 left-1/2 h-[4.6rem] w-full rounded-none border-zinc-700  shadow-lg shadow-black/[0.3] backdrop-blur-[0.5rem] sm:top-6 sm:h-[3.4rem] sm:w-[34rem] sm:rounded-full;
}

.intro-bg{
  background: radial-gradient(ellipse at bottom, #2d82c899 00%, #05031ba2 90%);
  border-bottom:1px solid #303030;
  box-shadow: inset 0px -10px 30px 10px rgba(0,0,0,.2);
  min-height: max(calc(100vh - 40px), 800px);
}

.type-writer{
  @apply font-bold text-2xl md:text-[2.5rem] lg:text-[3rem] 2xl:text-[3.2rem]  pt-7 pb-10 2xl:pt-10 2xl:pb-12  block text-shadow-lg;
  background: -webkit-linear-gradient(#fff 30%, #83b9de);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro .font-bold{
  color:#ffffffd2;
}

.introBtn{
  @apply  flex px-6 py-2 text-[1.05rem] md:text-xl md:px-7 md:py-4 items-center gap-2 rounded-full outline-none  transition border  focus:scale-110 hover:scale-110 active:scale-110 shadow-lg shadow-black/30;
}

.btnDark{
  @apply bg-gray-950/70 text-white/80 hover:bg-gray-950/90 hover:text-white/90 border-slate-700/50
}

.btnLight{
  @apply bg-slate-200/90 text-gray-900 hover:bg-gray-50  border-black/10
}

.btnIcon{
  @apply p-5;
}

.inner-pad{
  @apply px-7;
}

.inputs{
  @apply rounded-lg border-2 border-zinc-700 p-4 bg-zinc-950/50 mb-6;
}